body{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-elegant-light-blue-line-background-image_272095.jpg');
    background-size: 700px 100vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu{
    background-color: white;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color: teal;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitulo,
  .site-titulo{
    color: black;
    text-align: center;
  }
  
  .site-subtitulo{
    font-style: italic;
  }